# 忽略node_modules目录
node_modules/

# 忽略Parcel的缓存目录
.parcel-cache/

# 忽略dist目录（如果你使用Parcel构建项目，它会默认输出到这个目录）
# dist/

# 忽略操作系统相关的文件
.DS_Store
Thumbs.db

# 忽略编辑器配置文件
.vscode/
.idea/

# 如果你有其他特定文件或目录想要忽略，请添加到这里
